<!DOCTYPE="html">
<html>
	<head>
		<title>Mokjang</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gaegu&display=swap" >
		<script src="https://kit.fontawesome.com/e33210c2c5.js" crossorigin="anonymous"></script>		
		<link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	<body>
		<nav class="navbar navbar-expand-sm navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="/">
					<i class="fa fa-home mr-1" aria-hidden="true"></i>아프간목장</a>
				<ul class="navbar-nav ">
					<li><a class="nav-link" href="/campgrounds"><i class="fas fa-users"></i>식구들</a></li>
				</ul>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav navbar-right">
					<% if(!currentUser) {%>
					<li><a class="nav-link" href="/login">Login</a> </li>
					<li><a class="nav-link" href="/register"><i class="fas fa-user-plus"></i></a></li>
					<% } else { %>
					<li><a class="nav-link" href="#"><%=currentUser.username%></a></li>
					<li><a class="nav-link" href="/logout">Logout</a></li>
					<% } %>
				</ul>
			</div>
		</nav>
		 <!-- Flash message -->
		<div class="container">
			<% if (error && error.length > 0){ %>
			<div class="alert alert-danger" role="alert"><%= error %></div>
			<% } %>
			<% if (success && success.length > 0 ) { %>
			<div class="alert alert-success" role="alert"><%= success %></div>
			<% } %>
		</div>
