<!DOCTYPE html>
<html>
    <head>
        <title>Afghan Mokjang</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Gaegu&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/landing.css">
		<script src="https://kit.fontawesome.com/e33210c2c5.js" crossorigin="anonymous"></script>		
    </head>
    <body>
    <div class="jumbotron">
		
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div id="landing-header">
		<div class="container bg-secondary">
			<h1><i class="fa fa-home mr-1" aria-hidden="true"></i> 아프간 목장에 오신것을 환영합니다.</h1>
			<a href="/campgrounds" class="btn btn-lg btn-success">목장 식구들 보기</a>
				<h2 class="display-3 mb-0">이제 나는 너희에게 새 계명을 준다. 서로 사랑하여라.<br>
					내가 너희를 사랑한 것 같이, 너희도 서로 사랑하여라. <br>너희가 서로 사랑하면, 모든 사람이 그것으로써 
					<br>너희가 내 제자인 줄을 알게 될 것이다. <br> (요한복음 13장 34-25)
				</h2>		        
		</div>
    </div>
	<div> 
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<%- include("partials/footer") %>
