<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
	<link href="https://fonts.googleapis.com/css?family=Gaegu&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/e33210c2c5.js" crossorigin="anonymous"></script>		
	 <style>
      h1 {
        font-family: 'Tangerine', serif;
        font-size: 48px;
      }

	p {
        font-family: 'Gaegu', serif;
        font-size: 48px;
      }
		
    </style>
  </head>
  <body>
    <h1><i class="fas fa-users"></i> Making the Web Beautiful!</h1>
	  <p>
		  ajdlkfas;fjlkajfajf;lasfj
		  
		  
		  이것은 한국말입니다. 잘 보이시죠?
		  
	  </p>
	  
  </body>
</html>